<h1>Search For a Contact</h1>

<form action="/search_results" method="get">
  <input type="search" name="search">
  <input type="submit" value="Search">
</form>


<!-- <input type="text" name="first_name" value="<%=params[:first_name]%>"> -->
