<div class="contact-box">
  <div class="contact-info">
    <p><span>NAME:</span> <%= @contact.full_name %></p>
    <p><span>EMAIL:</span> <%= @contact.email %></p>
    <form action='/contacts/<%= @contact.id %>' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Delete Contact'>
    </form>
  </div>

  <div class="notes">
    <p><span>NOTES:</span></p>
    <div class="notes-inner">
      <p><%= @contact.note %></p>
    </div>
  </div>
</div>
