/* Site-Wide Styles */

* {
  font-family: Circular, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

header h1 {
  background: rgb(34, 34, 34);
  color: #FFFFFF;
  text-align: center;
  padding: 1%;
  margin-bottom: 0px;
}

.header-nav ul {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.header-nav ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  display: block;
  font-weight: 700;
}

.header-nav li {
  background: #d3d3d3;
  margin: 2px 0;
  padding: 5px 0;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}


/* Contact List Homepage*/

main {
  padding: 0 20px;
}

.contact-count {
  background: #FD8171;
  padding: 1px 15px;
  font-size: 20px;
  margin-top: 16px;
}

.count-number {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #2AE0D0;
}

.main-contact-list {
  list-style: none;
  padding: 0;
}

.main-contact-list h2 {
  margin: 0px;
}

.edit-delete{
  margin-top: 5px;
}
.main-contact-list li {
  background: #2AE0D0;
  margin: 15px 0;
  padding: 20px 25px;
}


/* Single Contact Page */
.contact-box{
  margin: 16px 0px;
}
.contact-info span, .notes span {
  font-weight: 700;
  font-size: 20px;
}

.contact-info, .notes {
  display: inline-block;
  width: 47%;
  padding-left: 20px;
  height: 150px;
}

.contact-info{
  background: #2AE0D0;
  vertical-align: top;
  margin-right: 14px;
}

.notes{
  background: #2AE0D0;
  margin-left: 15px;
}

.notes-inner{
  background: white;
  padding: 1px 0px 20px 12px;
  margin: 12px 20px 20px 0;
}
